flows/Create_Opportunity_OCR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Check if there are existing contacts with the same CRM ID</description>
        <name>Are_there_existing_Contacts</name>
        <label>Are there existing Contacts?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No Existing Contacts</defaultConnectorLabel>
        <rules>
            <name>Existing_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Existing Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that the record entered from Pardot is a contact record</description>
        <name>Is_Contact_Record</name>
        <label>Is Contact Record?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Is Not Contact</defaultConnectorLabel>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactCRMId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_B2BMA_Integration_User_ID</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <description>Creates an Opportunity and Opportunity Contact Role on existing Contacts with Accounts.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>OppNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Find_Contact_Record.Account.Name} &amp; &apos; - &apos; &amp; TEXT({!CloseDateFormula})</expression>
    </formulas>
    <interviewLabel>Create Opportunity OCR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity OCR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates new opportunity. Consider updating this step to customize for your organization.</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CreatedOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_Contact_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Opportunity Contact Role to the previously created Opportunity and existing Contact.
Consider updating this step to customize for your organization.</description>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Find_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>CreatedOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Find the user ID of the B2BMA Integration user. Referenced in the create records nodes.
If you would like to assign new accounts and contacts to a different user, edit the flow here to find a different user.</description>
        <name>Find_B2BMA_Integration_User_ID</name>
        <label>Find B2BMA Integration User ID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2BMA Integration</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the contact record based on CRM Id passed from Pardot</description>
        <name>Find_Contact_Record</name>
        <label>Find Contact Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_existing_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactCRMId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Assigning account values for record creation</description>
        <name>AccountValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Holds CRM Id passed from Pardot</description>
        <name>ContactCRMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get Pardot Contact Values</description>
        <name>ContactValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreatedOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Account ID of newly created record</description>
        <name>GetAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds B2BMA Integration user Id for record assignment (unless edited)</description>
        <name>OwnerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
